//- Index.pug
<!DOCTYPE html>
html
    head
        title Main Page
    body
        header
            h1 Main Page
            p Home
            hr
        nav
                ul
                    li
                        a(href="/users") Users
                    li
                        a(href="/schedules") Schedules
                    li 
                        a(href="/userExample") Example User
                    li 
                        a(href="/scheduleExample") Example Schedule
                    br    
                    li 
                        a(href="/user/new") New User!
                    br    
                    li 
                        a(href="/schedules/new") New Schedule!    